*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0px 20px;
    height: 80px;
    width: 100%;
header h1{
    margin: 0;
    padding:0;
    
}
}
nav{
    margin: 0;
    padding: 0;
    display: flex;
    gap:50px;
    
}
nav a{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}